if viewData.depots
  script(type='text/javascript')
    var DEPOTS = !{JSON.stringify(viewData.depots)};
if viewData.sellData
  script(type='text/javascript')
    var SELL_DATA = !{JSON.stringify(viewData.sellData)};