.aboutContainer
  margin-bottom 20px
  h3
    padding 10px 0px
    border-bottom 1px dashed #aaa
    margin-bottom 10px
    line-height 24px
    font-size 16px
    text-shadow 0 1px 0 #fff
  p
    margin-bottom 20px
    &.last
      margin-bottom 0